<h1>EDIT.EJS</h1>

<%  
  function normalizeDate(str){
    if(str.length < 2){
      str = "0" + str;
    }
    return str;
  }

  let eventDate = "", year = "", month = "", day = "",
      hours = "", minutes = "", seconds = "";
  year = event["date"].getFullYear().toString();
  month = event["date"].getMonth().toString();
  day = event["date"].getDate().toString();
  hours = event["date"].getHours().toString();
  minutes = event["date"].getMinutes().toString();
  seconds = event["date"].getSeconds().toString();
  
  month = normalizeDate(month);
  day = normalizeDate(day);
  hours = normalizeDate(hours);
  minutes = normalizeDate(minutes);
  seconds = normalizeDate(seconds);
  
  eventDate = year + "-" + month + "-" + day;
%>

<div>
  <label>Date : </label>
  <input type="date" name="event[date]" value="<%= eventDate %>">
</div>

<div>
  <label>Type : </label>
  <input type="text" name="event[type]" value="<%= event['type'] %>">
</div>

<div>
  <label>Venue : </label>
  <input type="text" name="event[venue]" value="<%= event['venue'] %>">
</div>

<div>
  <label>Distance : </label>
  <input type="text" name="event[distance]" value="<%= event['distance'] %>">
</div>

<div>
  <label>Time Completed : </label>
  <label>Hours</label>
  <input type="text" name="event[hours]" value="<%= hours %>">
  <label>Minutes</label>
  <input type="text" name="event[minutes]" value="<%= minutes %>">
  <label>Seconds</label>
  <input type="text" name="event[seconds]" value="<%= seconds %>">
</div>

<div>
  <label>Notes : </label>
  <textarea name="event[notes]"><%= event["notes"] %></textarea>
</div>

