<% include ./partials/header %>
<h1>SHOW.EJS</h1>

<label>Event Date: </label>
<%= event["date"].toLocaleDateString() %>

<p></p>

<label>Event Type: </label>
<%= event["type"] %>

<p></p>

<label>Event Venue: </label>
<%= event["venue"] %>

<p></p>

<label>Event Distance: </label>
<%= event["distance"] %> mi

<p></p>

<label>Event Total Time: </label>
<%= event["date"].toLocaleTimeString() %>

<p></p>

<label>Event Notes: </label>
<%= event["notes"] %>

<p></p>

<a href="/events">Event List</a>

<a href="/events/<%= event['_id'] %>/edit">Edit Event</a>

<form action='/events/<%= event['_id'] %>?_method=DELETE' method='POST'>
  <button type="submit">Delete Event</button>
</form>
<% include ./partials/footer %>