<h1>SHOW.EJS</h1>
<label>Event Date: </label>
<%= event["date"].toLocaleDateString() %>

<p></p>

<label>Event Type: </label>
<%= event["type"] %>

<p></p>

<label>Event Venue: </label>
<%= event["venue"] %>

<p></p>

<label>Event Distance: </label>
<%= event["distance"] %> mi

<p></p>

<label>Event Total Time: </label>
<%= event["date"].toLocaleTimeString() %>

<p></p>

<label>Event Notes: </label>
<%= event["notes"] %>

<p></p>
